#slideshow-container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.myTitle { color: green; }

.myTitle img {
	width: 100px;
	height: 100px;
	margin-bottom: -30px;
}

.mySlides { display: none; }

.linner img {
	width: 690px;
	height: 390px;
}

.prev, .next {
	width: 69px;
	height: 69px;
	position: absolute;
	top: 300px;
	cursor: pointer;
}

.prev { left: 15%; }

.next { right: 15%; }

.dots {
	margin: 0 auto;
	max-width: 424px;
}

.dot {
	width: 100px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
}

.dot:hover { border: 3px solid yellow; }

.active { border: 3px solid red; }
