* {
  margin: 0;
  padding: 0;
}
.clear { clear: both; }
body {
  font-size: 11px;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
}
a { text-decoration: none; color: #0983CE; }
#watchlink {
  display: flex;
  padding-top: 1%;
}
#watchlink p {
  font-weight: bold;
  color: #1086ba;
}
.container {
  background: #292728;
  width: 1000px;
  margin: 0 auto;
}
.content {
  float: left;
  width: 65%;
  margin-top: 20px;
  margin-left: 7px;
  margin-bottom: 3%;
}

/* Wrapping element for daily-celebrity class */
.daily-celebrity { background: white; }
.daily-content { display: flex; }
.daily-title {
  background: url(../img/h2-confidential-heading-bg.gif) repeat-x;
  color: white;
  border-bottom: 1px dotted;
  padding-top: 2%;
  padding-bottom: 3px;
	border-right: 1px solid #84584e;
}
.daily-title h4 {
  margin-left: 2%;
  font-size: 13px;  
}
.daily-image {
  text-align: center;
  padding-top: 4px;
	border-right: 1px dotted;
}
.daily-image-title { position: relative; }
.daily-more {
  position: absolute;
  right: 26px;
  font-size: 12px;
  font-weight: bold;
  top: -1px;
}
.daily-text {
  font-size: 11px;
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.gossip {
  width: 50%;
}
.pics { width: 50%; }
.daily-logo { margin-left: 8px; }
.daily-logo img { margin-bottom: -0.47%; }

/* Wrapping element for movie class */
.movie {
  margin-top: 12px;
  width: 100.5%;
}
.movie-trailer { float: left; }
.movie-title {
  background-image: url(../img/h2-top-movie-trailers-bg.gif);
  color: white;
  border-bottom: 1px dashed white;
  padding-top: 2%;
  padding-bottom: 1.5%;
  font-weight: bold;
  padding-left: 3%;
  font-size: 13px;
}
.movie-trailer {
  width: 48%;
  margin-left: 2px;
  background: white;
}
.icon {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 6px;
  right: 10px;
  background: url(../img/top-movie-trailers-arrows.gif) no-repeat;
  background-position: bottom;
}
#accordion section #trailer_icon { display: block; }
#accordion section #icon1 { background-position: top; }
#accordion section #icon2 { background-position: bottom; }
#accordion section #icon3 { background-position: bottom; }
#accordion section .trailer-content {
  display: none;
  padding-left: 3%;
  padding-top: 3%;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 2%;
}
#accordion section:target .trailer-content { display: block; }
#trailer-title {
  background: url(../img/h3-movie-trailers-bg.gif) repeat-x;
  font-weight: bold;
  font-size: 12px;
  padding-left: 3%;
  border-bottom: 1px dotted #a6a6a6;
  color: #1086ba;
  letter-spacing: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
}
.trailer-img {
  float: left;
  width: 36%;
}
.trailer-text { width: 92%; }
#trailer-img-small { margin-left: -4px; }
#watchnow {  padding-top: 3px; }
.now-showing {
  padding-top: 2px;
  padding-bottom: 2%;
  margin-left: 2%;
  background: url(../img/now-showing-icon.gif) left center no-repeat;
}
.now-showing b { margin-left: 7%; }
option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
select#select-movie {
  width: 63%;
  margin-left: 2%;
  margin-top: 1px;
}
.navigationbar {
  border-top: 1px dashed white;
  background-color: #2a2729;
}
.list-items {
  list-style-type: none;
  margin: 10px auto;
  padding-left: 27px;
  text-align: center;
  width: 107%;
  color: white;
}
.list-items li {
  display: inline-block;
  margin-right: 9%;
}

.movie-review {
	float: right;
  width: 48%;
  margin-left: 24px;
  background: white;
}
.review-container {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
}
.review-container h3 {
  position: relative;
  color: #2A85C9;
}
.review-content {
  display: flex;
  padding-top: 1%;
}
.review-line { border-bottom: 1px dotted #707070; }
.review-footer {
  background: url(../img/icon_2.jpg) left center no-repeat;
  margin-left: 2%;
	margin: 6px;
}
.review-footer a { margin: 8%; }
.star {
  position: absolute;
  top: 1px;
  right: 4px;
  width: 60px;
  height: 14px;
  background-image: url(../img/topic-star-ratings.gif)
}
.star1 { background-position: 0 47%; }
.star2 { background-position: 0 35%; top: -1px; }
.review-text {
  margin-top: -2px;
  padding-right: 7%;
}
#review-img-big {
  margin-right: 8px;
  height: 65px;
}
#review-img-small {
  margin-left: -4px;
  margin-top: 6px;
}
#view-trailer {
  margin-top: 10px;
  font-weight: bold;
}
#more-movie {
  float: right;
  margin-right: 3%;
}

/* Wrapping element for footer class */
.footer {
  background: white;
  color: blue;
}
.footer-list {
  list-style-type: none;
  padding-left: 13.7%;
	padding-top: 1%;
}
.footer-list li { display: inline-block; }
.footer-list p {
  display: inline;
  margin-left: 5.1%;
}
.footer-info {
  text-align: center;
  color: #0983CE;
}

/* Wrapping element for logo-search class */
.logo-search {
  padding-top: 3%;
  padding-left: 68%;
}
.logo-search input[type="text"] {
  width: 140px;
  margin-left: 5%;
	margin-top: 1%
}
.logo-search button {
  background-color: #a8407d;
  color: white;
  font-weight: bold;
  font-size: 10px;
  border: none;
  width: 69px;
  height: 15px;
}
form { margin-top: 4px; }