body {
	margin: 0 auto;
	text-align: center;
}

div { margin-top: auto; }
p {
	font-size: 50px;
	font-weight: bold;
}

#board {
	margin: 100px;
	padding-left: 85px;
}

#name {
	color: #4CB9E0;
	margin-top: -300px;
	font-size: 15px;
	font-family: Arial;
}